body{
    font-family: Arial ;
    font-size: 15px;
    font-weight: normal;
    line-height: auto;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}
@media(min-width: 375px){
    body{
        font-size: 15px;
        font-weight: 400px;
    }
}
@media(min-width: 1440px){
    body{
        font-size: 20px;
        font-weight: 700px;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 400px;
}
.container > img{
    flex: 1;
}
.qr{
    width: 70%;
    height: 400px;
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
}
.box{
    box-sizing: border-box;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
}
h1{
    font-size: 25px;
    text-align: center;
}
.words{
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
.attribution{
    font-size: 15px;
    text-align: right;
    word-spacing: 0.5px;
    padding: 15px;
    margin: 5px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}