body{
    font-family: 'Outfit-Medium' ;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}
@media(min-width: 375px){
    body{
        font-size: 15px;
        font-weight: 400px;
    }
}
@media(min-width: 1440px){
    body{
        font-size: 20px;
        font-weight: 700px;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.container > img{
    flex: 1;
}
.qr{
    max-width: 100%;
    height: auto;
}
h1{
    font-size: 15px;
    text-align: center;
}
.words{
    font-size: 12px;
    text-align: center;
}
.space{
    text-align: right;
}
.attribution{
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}